.container {
  width: 110rem; }

.container-fluid {
  width: 98%; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
